<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7fa4a78-b511-43f2-aa90-7e654bcea557" Alias="events" Level="1">
  <Info>
    <Name>Events</Name>
    <Icon>icon-megaphone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Events</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e5a75384-f00c-4cc8-bac5-2eae6200c64b">Events</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>