<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c523907-a275-4829-93a5-8dc7077d34d8" Alias="meetupAddInfo" Level="1">
  <Info>
    <Name>Meetup Add Info</Name>
    <Icon>icon-flag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MeetupAddInfoOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="698d56c2-9793-48f5-a425-0d6959e9d836">MeetupAddInfo</Template>
      <Template Key="7282a74f-5545-4431-a885-20dc08f35ba5">MeetupAddInfoOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>