<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e19147d3-164a-4360-b8fd-1bb742f19706" Alias="rss" Level="1">
  <Info>
    <Name>Rss</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Rss</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3536457e-852e-47b5-8e84-705c195a0d49">Rss</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>