<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30bf2107-0aa1-4e83-96ab-13a79435c80d" Alias="Calendar Event - Banner image - Media Picker" Level="1">
  <Info>
    <Name>Calendar Event - Banner image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "thumb",
      "height": 150,
      "label": "Thumb",
      "width": 300
    },
    {
      "alias": "large",
      "height": 300,
      "label": "Large",
      "width": 600
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>