<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22ddb298-a4ac-4972-b5e2-a75d0942d85b" Alias="Calendar Event - Description - Markdown editor" Level="1">
  <Info>
    <Name>Calendar Event - Description - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": true,
  "OverlaySize": "small"
}]]></Config>
</DataType>