<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2877506-1f9c-4d78-b6d1-ff88c3de947c" Alias="Calendar Event - Online Attendance - Toggle" Level="1">
  <Info>
    <Name>Calendar Event - Online Attendance - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Can not be attended online",
  "LabelOn": "Can be attended online",
  "ShowLabels": true
}]]></Config>
</DataType>