<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b31f387-f4de-4e6d-b68f-416a88fe12de" Alias="Calendar Event - Tags - Tags" Level="1">
  <Info>
    <Name>Calendar Event - Tags - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "eventdescription",
  "StorageType": 1
}]]></Config>
</DataType>