<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edd93613-46fb-497e-9da0-0b9f54fca3fe" Alias="Calendar Event - Event Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Calendar Event - Event Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>