<?xml version="1.0" encoding="utf-8"?>
<Media Key="3473fbc2-d1ed-478e-a9eb-e57aac94458f" Alias="2023 08 23 093209" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-23T09:32:27</CreateDate>
    <NodeName Default="2023 08 23 093209" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yt3hgnhn/2023-08-23_093209.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>