<?xml version="1.0" encoding="utf-8"?>
<Media Key="94059c5a-a511-4b56-b652-6b0c6c2f2b28" Alias="2023 08 23 093450" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-23T09:35:14</CreateDate>
    <NodeName Default="2023 08 23 093450" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lsoalfar/2023-08-23_093450.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>