<?xml version="1.0" encoding="utf-8"?>
<Media Key="9763e5b8-0d8b-4267-85c7-3c7fd468c2c0" Alias="Banner Codegarden" Level="2">
  <Info>
    <Parent Key="256f6b49-48bd-4315-8a05-5a0b89a55e14">Codegarden</Parent>
    <Path>/Codegarden/BannerCodegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-08T14:14:47</CreateDate>
    <NodeName Default="Banner Codegarden" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x1shhf2l/banner-codegarden.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>