<?xml version="1.0" encoding="utf-8"?>
<Media Key="056ea05f-a845-459e-9a42-16d45287d1f3" Alias="Banner Codecabin" Level="2">
  <Info>
    <Parent Key="8b568bbc-e5c1-4994-875b-8938111fc309">CODECABIN</Parent>
    <Path>/CODECABIN/BannerCodecabin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-08T14:51:34</CreateDate>
    <NodeName Default="Banner Codecabin" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lgqg2bkf/banner-codecabin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>