<?xml version="1.0" encoding="utf-8"?>
<Media Key="256f6b49-48bd-4315-8a05-5a0b89a55e14" Alias="Codegarden" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Codegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-08T14:13:20</CreateDate>
    <NodeName Default="Codegarden" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>