<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b568bbc-e5c1-4994-875b-8938111fc309" Alias="CODECABIN" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CODECABIN</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-08T14:51:08</CreateDate>
    <NodeName Default="CODECABIN" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>