<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e647acd-fbe0-4e82-9af5-8aa1b1d25072" Alias="Codecabin" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Codecabin</Path>
    <Trashed Parent="8b568bbc-e5c1-4994-875b-8938111fc309">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-08T14:51:24</CreateDate>
    <NodeName Default="Codecabin" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zn3gjdxa/codecabin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>