<?xml version="1.0" encoding="utf-8"?>
<Media Key="55f755e5-b059-4d41-83ea-2099ecb824dd" Alias="Icon Codecabin" Level="2">
  <Info>
    <Parent Key="8b568bbc-e5c1-4994-875b-8938111fc309">CODECABIN</Parent>
    <Path>/CODECABIN/IconCodecabin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-08T15:03:39</CreateDate>
    <NodeName Default="Icon Codecabin" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0rkpovkz/icon-codecabin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>