<?xml version="1.0" encoding="utf-8"?>
<Media Key="243c2e24-20e7-4f01-8abf-be35f0986ab5" Alias="Icon Codegarden" Level="2">
  <Info>
    <Parent Key="256f6b49-48bd-4315-8a05-5a0b89a55e14">Codegarden</Parent>
    <Path>/Codegarden/IconCodegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-08T14:14:47</CreateDate>
    <NodeName Default="Icon Codegarden" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cuxdyjhh/icon-codegarden.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>