<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a2cb6f0-ca12-43a1-9c55-f0e929558883" Alias="US Festival" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/USFestival</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-08T14:13:26</CreateDate>
    <NodeName Default="US Festival" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>