<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3b9b5b7-3de2-4f81-b149-02c24d07d2f7" Alias="CODECABIN 2024" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/CODECABIN2024</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-04-08T14:51:42</CreateDate>
    <NodeName Default="CODECABIN 2024" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "468e030b-055a-43b3-856f-ccc83339b2e1",
    "mediaKey": "056ea05f-a845-459e-9a42-16d45287d1f3"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[UK]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-09-20T12:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-09-23T12:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[## The Umbraco Developer Unconference

CODECABIN is the premier, invite-only weekend away for Umbraco developers, providing time to code, learn and network in a completely relaxed and open environment away from the hustle and bustle of every day life.

**20 Developers** We invite a mix of 20 Umbraco developers from a range of different backgrounds and skill levels, from back end to front end, and beginner to guru.

**3 Nights** We provide an all inclusive weekend break away in a private location somewhere in the UK countryside.

**1 Unique Experience** What happens next is totally decided by the attendees, but whatever does happen, it's guaranteed to be unique.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[[
  {
    "key": "26535a74-c310-4d69-90e0-defa834594c3",
    "mediaKey": "55f755e5-b059-4d41-83ea-2099ecb824dd"
  }
]]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://codecab.in/",
    "url": "https://codecab.in/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Cattle Shed, Grindleford, UK]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[[
  "community"
]]]></Value>
    </tags>
  </Properties>
</Content>