<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f1c6e32-ce36-4ebb-81df-f5bf3d3eed1c" Alias="EventsStats" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/EventsStats</Path>
    <Trashed>false</Trashed>
    <ContentType>events</ContentType>
    <CreateDate>2023-11-07T08:35:11</CreateDate>
    <NodeName Default="EventsStats" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e5a75384-f00c-4cc8-bac5-2eae6200c64b">Events</Template>
  </Info>
  <Properties />
</Content>