<?xml version="1.0" encoding="utf-8"?>
<Content Key="6463a80a-3841-4d53-818e-4191430c53e5" Alias="Meetup add information" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/MeetupAddInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>meetupAddInfo</ContentType>
    <CreateDate>2024-01-15T13:40:18</CreateDate>
    <NodeName Default="Meetup add information" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7282a74f-5545-4431-a885-20dc08f35ba5">MeetupAddInfoOverview</Template>
  </Info>
  <Properties />
</Content>