<?xml version="1.0" encoding="utf-8"?>
<Content Key="623cd157-e502-4822-b654-357a0fa8df62" Alias="Meetup" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/Meetup</Path>
    <Trashed>false</Trashed>
    <ContentType>rss</ContentType>
    <CreateDate>2023-10-29T15:30:55</CreateDate>
    <NodeName Default="Meetup" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3536457e-852e-47b5-8e84-705c195a0d49">Rss</Template>
  </Info>
  <Properties />
</Content>