<?xml version="1.0" encoding="utf-8"?>
<Content Key="eab8c426-f4b1-4db2-a6b7-99dfba7d8bc5" Alias="Umbraco Community Day" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/UmbracoCommunityDay</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2023-11-12T15:03:50</CreateDate>
    <NodeName Default="Umbraco Community Day" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "3617f87c-af26-45f1-b34e-4c971139780c",
    "mediaKey": "2961972c-cd8a-4f49-9d97-ce1d45441831"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[NL]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2023-12-13T09:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2023-12-13T21:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[**A day for the community to hang out and learn**

Umbraco Community Day is a free online event that brings the Umbraco Community together to share the knowledge from our diverse community from around the world.

Tune in and connect, learn and share knowledge from the comfort of your home.]]></Value>
    </description>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://day.umbraco.community/",
    "url": "https://day.umbraco.community/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Online event]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[1]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>