<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd973b61-725e-4521-8c39-52c0fa5a41a7" Alias="Umbraco Codegarden 2024" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/UmbracoCodegarden2024</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-04-04T15:41:31</CreateDate>
    <NodeName Default="Umbraco Codegarden 2024" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "d8b7af7a-8a01-41f4-83b0-b5e792311ec4",
    "mediaKey": "9763e5b8-0d8b-4267-85c7-3c7fd468c2c0"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[DK]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-06-12T12:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-06-14T12:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[## Codegarden is the Umbraco tech conference like no other...

Codegarden is a one-of-a-kind conference experience mixing learning and collaboration with just the right amount of fun and crazy.

It's the annual celebration of all things Umbraco, and the fantastic things that people can do and make with it, serving to inform and inspire.

**What's more, it's the biggest congregation of Umbraco users and developers in the world.**]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[Umbraco HQ]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[[
  {
    "key": "86dbc833-c14b-49cb-8ed6-71fb3391b62e",
    "mediaKey": "243c2e24-20e7-4f01-8abf-be35f0986ab5"
  }
]]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://codegarden.umbraco.com",
    "target": "_blank",
    "url": "https://codegarden.umbraco.com"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[DOK5000, Havnegade 20, 5000 Odense C, DK]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[1]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[[
  "community"
]]]></Value>
    </tags>
  </Properties>
</Content>