<?xml version="1.0" encoding="utf-8"?>
<Content Key="37036ca4-8cf2-4878-92c8-cf26a450fd1b" Alias="Umbraco US Festival" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/UmbracoUSFestival</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-04-04T15:27:29</CreateDate>
    <NodeName Default="Umbraco US Festival" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "77ec7053-ba6d-43a1-92fb-4415f711b735",
    "mediaKey": "03db40a6-8181-4d96-b2bb-bd5aebfb18c3"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[US]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-10-03T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-10-04T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[Sed lobortis tortor et egestas tempus. Phasellus at urna eu ipsum scelerisque feugiat et eget enim. Duis condimentum ac massa et ultrices. Vivamus libero tellus, lobortis vitae congue mollis, interdum non ante. Fusce accumsan sagittis sapien. Sed eleifend hendrerit eros, pellentesque egestas felis volutpat et. Nunc in ornare velit. Fusce lobortis tempor ex, ut varius sem pharetra sed. Mauris cursus at nisi ut pharetra. Vestibulum odio augue, ultrices vitae sapien non, hendrerit maximus sem. Phasellus eu tristique ipsum. Mauris semper, erat gravida gravida interdum, magna nibh sagittis orci, at blandit purus odio non velit. Nunc id ligula risus. Mauris ut nisi libero.

Aliquam erat volutpat. Etiam eu porta lacus, ac dignissim tellus. In finibus ante a nunc suscipit, eget tempus tellus fringilla. Fusce nunc dolor, luctus ut faucibus eget, sagittis eget neque. Etiam consectetur nec lorem vitae tincidunt. Phasellus lorem mi, fringilla ac commodo at, hendrerit id leo. Cras vel enim dapibus, eleifend arcu a, aliquet ex. Sed vitae ligula vel lorem bibendum dignissim. Nunc vel rutrum lorem. Nullam dolor enim, pellentesque vitae laoreet id, vehicula a sem.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[Umbraco US Foundation]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[[
  {
    "key": "ce44dbd1-ce5f-4261-927a-df0d3e2a65ee",
    "mediaKey": "3ca408a9-8627-4eed-bfb2-4284188b1851"
  }
]]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbracofestival.us",
    "url": "https://umbracofestival.us"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[mHub, Chicago, Illinois, USA]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[[
  "community",
  "hackathon",
  "training"
]]]></Value>
    </tags>
  </Properties>
</Content>