<?xml version="1.0" encoding="utf-8"?>
<Content Key="61946b62-5d68-45f8-a5a6-cf294e9c86e3" Alias="Umbraco U.S. Summit" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/UmbracoUSSummit</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2023-08-23T09:36:05</CreateDate>
    <NodeName Default="Umbraco U.S. Summit" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "1ebfc135-bb79-4c67-abc4-90b777863afa",
    "mediaKey": "94059c5a-a511-4b56-b652-6b0c6c2f2b28",
    "crops": [
      {
        "alias": "thumb",
        "label": "Thumb",
        "coordinates": {
          "x1": 0.1044776119402985,
          "y1": 0,
          "x2": 0,
          "y2": 0.0005330490405118103
        }
      },
      {
        "alias": "large",
        "label": "Large",
        "coordinates": {
          "x1": 0.10380881254667662,
          "y1": 0,
          "x2": 0,
          "y2": 0
        }
      }
    ]
  }
]]]></Value>
    </bannerImage>
    <dateFrom>
      <Value><![CDATA[2023-10-02T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2023-10-03T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[If Umbraco is part of your business or if you're curious about how Umbraco can escalate your digital business, this is an event you don't want to miss!

Whether you are a business professional, a web developer, a partner, or a hybrid of all of these, this event is for you!]]></Value>
    </description>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://summit.umbraco.com/",
    "target": "_blank",
    "url": "https://summit.umbraco.com/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Charlotte, North Carolina, USA]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[1]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[[
  "community",
  "business",
  "partners",
  "developers",
  "hackathon"
]]]></Value>
    </tags>
  </Properties>
</Content>