<?xml version="1.0" encoding="utf-8"?>
<Content Key="078564e2-df9c-47f9-a944-8fbc0beede41" Alias="Umbraco Global Event Calendar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoGlobalEventCalendar</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-08-23T09:19:31</CreateDate>
    <NodeName Default="Umbraco Global Event Calendar" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d327c397-04b3-44b7-a01e-0d36468f44a8">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[Explore upcoming Umbraco events worldwide. Stay informed about the latest gatherings, conferences, and meetups in the Umbraco community. Your go-to resource for connecting with like-minded enthusiasts and staying at the forefront of Umbraco developments.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[📅 Umbraco Event Calendar]]></Value>
    </metaTitle>
  </Properties>
</Content>